<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sample Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/survey}" th:object="${survey}"
		method="post">
		<fieldset name="${survey.name}" title="${survey.name}">
			<div th:each="question : ${survey.questionMap.values()}">
				<div th:text="${question.questionString}">Q?</div>
				<div th:switch="${question.responseType}">
					<div
						th:case="${T(net.tsolval.poc.ql.constants.ResponseType).BOOLEAN}">
						Yes <input type="radio" th:name="${question.questionId} + _radio"
							th:value="YES"
							th:field="*{questionMap[question.questionId].response.answer}" />
						No <input type="radio" th:name="${question.questionId} + _radio"
							th:value="NO"
							th:field="*{questionMap[question.questionId].response.answer}" />
					</div>
					<div
						th:case="${T(net.tsolval.poc.ql.constants.ResponseType).TEXTBOX}">
						A: <input type="text"
							th:field="*{questionMap[question.questionId].response.answer}" />
					</div>
					<div
						th:case="${T(net.tsolval.poc.ql.constants.ResponseType).TEXTAREA}">
						A: <input type="text"
							th:field="*{questionMap[question.questionId].response.answer}" />
					</div>
				</div>
				<p />
			</div>
		</fieldset>
		<input type="submit" value="Submit" /> <input type="reset"
			value="Reset" />
	</form>
</body>
</html>