<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- Should be moved to JS file -->
	<script th:inline="javascript">
		function changeAction() {
			document.getElementById("survey").action = "/survey/testGroup/continue";
		}
	</script>
	<!-- need test group to be dynamic -->
	<form id="survey" name="survey" action="#"
		th:action="@{/survey/testGroup}" th:object="${formData}" method="post">
		<table th:each="question : ${survey.questions}">
			<tr>
				<!-- display question -->
				<td th:text="${question.questionString}">text ...</td>
			</tr>
			<tr>
				<td>
					<!-- display type --> <!--<input type="text"
					th:field="*{questionsMap[question.questionId]}" />  			<td th:text="${question.questionString}">text ...</td>
 -->
					<div th:switch="${question.responseType}">
						<p
							th:case="${T(net.tsolval.poc.ql.constants.ResponseType).BOOLEAN}">
							<input type="radio" th:name="${question.questionId} + _radio"
								th:value="Yes"
								th:field="*{questionsMap[question.questionId].response.answer}" />
							Yes <input type="radio" th:name="${question.questionId} + _radio"
								th:value="No"
								th:field="*{questionsMap[question.questionId].response.answer}" />
							No
						</p>
						<p
							th:case="${T(net.tsolval.poc.ql.constants.ResponseType).TEXTBOX}">
							<input type="text"
								th:field="*{questionsMap[question.questionId]}" />
						</p>
						<p
							th:case="${T(net.tsolval.poc.ql.constants.ResponseType).TEXTAREA}">
							<textarea></textarea>
						</p>
						<p th:case="*">Undefined response type.</p>
					</div>
				</td>
			</tr>
			<!-- display children if applicable -->
			<tr>
				<td>
					<table th:each="child : ${question.children}">
						<tr>
							<td th:text="${child.questionString}">text ...</td>
						</tr>
						<tr>
							<td>
								<!-- display type --> <!-- Need to update as map should pull children instead of main questions entry -->
								<div th:switch="${child.responseType}">
									<p
										th:case="${T(net.tsolval.poc.ql.constants.ResponseType).BOOLEAN}">
										<input type="radio" th:name="${question.questionId} + _radio"
											th:value="Yes"
											th:field="*{questionsMap[question.questionId].response.answer}" />
										Yes <input type="radio"
											th:name="${question.questionId} + _radio" th:value="No"
											th:field="*{questionsMap[question.questionId].response.answer}" />
										No
									</p>
									<p
										th:case="${T(net.tsolval.poc.ql.constants.ResponseType).TEXTBOX}">
										<input type="text"
											th:field="*{questionsMap[question.questionId].response.answer}" />
									</p>
									<p
										th:case="${T(net.tsolval.poc.ql.constants.ResponseType).TEXTAREA}">
										<textarea
											th:field="*{questionsMap[question.questionId].response.answer}"></textarea>
									</p>
									<p th:case="*">Undefined response type.</p>
								</div>

							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<button type="submit" onclick="changeAction();">Submit</button>
	</form>
</body>
</html>